neopixels_flows.json
[
    {
        "id": "35ba908c201a65a4",
        "type": "tab",
        "label": "燈環",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fdc658fb6f3ea69c",
        "type": "ui_colour_picker",
        "z": "35ba908c201a65a4",
        "name": "",
        "label": "",
        "group": "d709689628842fde",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": false,
        "showHue": true,
        "showAlpha": true,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 1,
        "width": 6,
        "height": 3,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5e8aca958a5226cd",
                "8358c805e810759a"
            ]
        ]
    },
    {
        "id": "5e8aca958a5226cd",
        "type": "mqtt out",
        "z": "35ba908c201a65a4",
        "name": "",
        "topic": "338/color",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9be2d2ccab8bd7e4",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e045728b86f6c56",
        "type": "ui_text",
        "z": "35ba908c201a65a4",
        "group": "d709689628842fde",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "r:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7249e305a32832c",
        "type": "ui_text",
        "z": "35ba908c201a65a4",
        "group": "d709689628842fde",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "g",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "22193e4b9feafe0e",
        "type": "ui_text",
        "z": "35ba908c201a65a4",
        "group": "d709689628842fde",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "b",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "8358c805e810759a",
        "type": "function",
        "z": "35ba908c201a65a4",
        "name": "",
        "func": "var msgR={payload:msg.payload.r};\nvar msgG={payload:msg.payload.g};\nvar msgB={payload:msg.payload.b};\nreturn [msgR, msgB, msgG];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "7e045728b86f6c56"
            ],
            [
                "c7249e305a32832c"
            ],
            [
                "22193e4b9feafe0e"
            ]
        ]
    },
    {
        "id": "3791f059b1379e86",
        "type": "ui_template",
        "z": "35ba908c201a65a4",
        "group": "d709689628842fde",
        "name": "背景",
        "order": 6,
        "width": 6,
        "height": 1,
        "format": "<style>\n    body {\n        background-image: url(\"https://ae01.alicdn.com/kf/HTB1_ruMKVXXXXbiaXXXq6xXFXXXm/DC5V-WS2812-For-Adafruit-Neopixel-LED-Strip-5050-RGB-Backlight-IP20-IP67-30LED-60LED-144LED.jpg_Q90.jpg_.webp\");\n        background-size: 100% 100%;\n    }\n    \n    //body.nr-dashboard-theme md-content md-card {\n    //    background: rgba(1,200,1,0.1);\n    //}\n    \n   \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 297.0115661621094,
        "y": 228.02777099609375,
        "wires": [
            []
        ]
    },
    {
        "id": "160bcfbf5ac20339",
        "type": "ui_template",
        "z": "35ba908c201a65a4",
        "group": "d709689628842fde",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #Neopixels_neopixels{\n        background-color : \ttransparent !important;\n        border-color: #D2E9FF; \n        color: #e65e30;\n    }\n    body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: \t#18495e;\n    text-shadow: 4px 2px 4px #00000045;\n    /*box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);*/\n    }\n    .nr-dashboard-theme .nr-dashboard-cardtitle{\n        background-color: \t#fc7ca2;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8e7ec6612f90722d",
        "type": "ui_spacer",
        "z": "35ba908c201a65a4",
        "name": "spacer",
        "group": "d480f774c8b2bc46",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "d709689628842fde",
        "type": "ui_group",
        "name": "neopixels",
        "tab": "d9212f8c6436e641",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9be2d2ccab8bd7e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "49.158.236.151",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d480f774c8b2bc46",
        "type": "ui_group",
        "name": "溫濕度折線圖",
        "tab": "c693e6dd1b9e2e72",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9212f8c6436e641",
        "type": "ui_tab",
        "name": "Neopixels",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c693e6dd1b9e2e72",
        "type": "ui_tab",
        "name": "天氣候綜合",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]